@font-face {
	font-family: 'Dancing';
    src: url('fonts/Dancing.ttf') format('truetype');
    src: url("fonts/Dancing.otf") format("opentype");
}
body{
    background: #000000;
    font-family: 'Dancing';
    overflow-x: hidden;
    
}

.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 1.5em;
    white-space: pre-line;
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }
  .description{
      padding-top: 30px;
      opacity:0;
      font-size: .7em;
      color: #dddddd;
  }
  .description a{
    color: #9b1515;
    text-decoration: none;
  }
  .description a:hover{
      border-bottom: 2px dashed #dddddd;
  }
@media screen and (-webkit-min-device-pixel-ratio:0) {
.name{
    margin: 20% auto 0 auto;
    text-align: center;
    font-size: 30px;
    color:#ffffff;
}
.at{
    display: inline-block;
    color: #777777;
    margin-right: 20px;
}
.mahdyar{
    width:400px;
    display: inline-block;
}
.dot{
    margin-left: 10px;
    display: inline-block;
    color: #777777;

}
.links{
    margin: 230px auto 0;
    width: 400px;
    height: 30px;
    display: flex;
}
.link{
    margin-left: 50px;
}
.notfound{
    margin: 4% auto 0 auto;
    text-align: center;
    font-size: 30px;
    color:#ffffff;
    max-width: 700px;
}
}
@media(max-width:1024px){
    .name{
        margin: 300px auto 0 auto;
    }
    .mahdyar{
        width:380px;
    }
    .links{
        width: 400px;
    }
    .link{
        margin-left: 50px;
    }
    .notfound{
        margin: 4% auto 0 auto !important;
        max-width: 700px;
        font-size: 40px;
    }
}
@media (max-width:768px){
    .name{
        margin: 40% auto 0 auto;
    }
    .mahdyar{
        width:300px;
    }
    .links{
        width: 300px;
    }
    .link{
        margin-left: 35px;
    }
}
@media (max-width:520px){
    .name{
        margin: 50% auto 0 auto;
        font-size: 15px;
    }
    .mahdyar{
        width:300px;
        }
    .links{
        width: 220px;
        margin: 200px auto 0;
    }
    .link{
        margin-left: 15px;
    }
    .at, .dot{
        display: none;
    }
    .notfound{
        margin: 50px auto 0 auto !important;
        max-width: 250px;
        font-size: 23px;
    }
}
@media (max-height:425px){
    .name{
        margin: 15% auto 0 auto;
        font-size: 20px;
    }
    .mahdyar{
        width:200px;
    }
    .links{
        margin: 100px auto 0;
        width: 260px;
    }
    .link{
        margin-left: 25px;
    }
    .notfound{
        margin: -40px auto 0 auto !important;
        max-width: 400px;
        font-size: 18px;
    }
}
